<%= form_for([@product, @product.variants.build]) do |f| %>
    <div>
      <%= f.label :color %>
      <%= f.text_field :color %>
      <br/>
    </div>
    <div>
      <%= f.label :size %>
      <%= f.text_field :size %>
      <br/>
    </div>
    <div>
      <%= f.label :nationality %>
      <%= f.text_field :nationality %>
      <br/>
    </div>
    <div>
      <h4 class="text-success">Image</h4>
      <br>
      <%= f.radio_button :image, "1", :checked=>true %>
      <a class="btn btn-warning rb  "  href="#"><i class="icon-film icon-white"></i></a><br>
      <%= f.radio_button :image, "2" %>
      <a class="btn btn-warning rb"  href="#"><i class="icon-book icon-white"></i></a><br>
      <%= f.radio_button :image, "3" %>
      <a class="btn btn-warning rb"  href="#"><i class="icon-shopping-cart icon-white"></i></a><br>

    </div>


    <br><br>
    <div>
      <%= f.submit "save", :class=> "btn btn-primary" %>
    </div>
<% end %>