<div class="productForm">
    <% if product.errors.any? %>
        <p class="text-error">Uppss we have a problem !!!</p>
    <% end %>
    <%= form_for product do |f| %>

      <%= f.label :name, :class=>"control-label", :for=>"name" %>

      <%= f.text_field :name, :id=>"name" %>
      <span class='help-inline'><%= product.errors[:name].join(', ') %></span>


      <br/>
      <%= f.label :category_id %>
      <%= collection_select :product, :category_id, categories, :id, :name %>
      <span class='text-error'><%= product.errors[:category_id].join(', ') %></span>
      <br/>
      <%= f.label :descritpion %>
      <%= f.text_area :description, cols: 30, rows: 5 %>
      <br/>
      <%= f.label :price %>
      <%= f.text_field :price %>
      <span class='text-error'><%= product.errors[:price].join(', ') %></span>
      <br/>
      <%= f.label :active %>
      <%= f.check_box :active, checked_value: true, unchecked_value: false %>
      <br/>
      <span style="margin-left: 165px;"><%= f.submit 'Save', :class=> "btn btn-primary" %></span>
    <% end %>

</div>